/*ngeload font
font-family: 'Noto Sans', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Work Sans', sans-serif;
*/

body,head{
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4{
    font-family: 'Work-Sans',sans-serif;
}

h5,h6{
    font-family: 'Raleway', sans-serif;
}

p,a{
    font-family: 'Work Sans', sans-serif;
}

#page{
   
}

#isi-page{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: nowrap;
}

/**********************************Navbar***********************************/

.navbar{
    width: 100%;
 }
 .navbarLogo{
   color: black;
   float: left;
   text-align: left;
   margin-top: 20px;
   margin-left: 30px;
 }
 
 ol,ul {
   list-style: none;
 }
 
 .navbarMenu {
   font-family: "Work Sans";
   float: right;
   background-color: #FFF;
   text-align: center;
   justify-content: center;
   display: flex;
   position: relative;
 }
 
 .navbarMenu li {
   display:block;
   width:200px;
   float:right;
   margin-left:10px;
   font-weight: bolder;
 }
 
 .navbarMenu a {
   display:block;
   padding:15px;
   text-decoration:none;
   background-color:#fff;
   color:black;
 }
 
 .navbarMenu a:hover {
   background-color: #F9D5A7;
   color: black;
 }

/**********************************Navbar*********************************/

/*************************************SideBar*****************************/

#sidebar{
    width: 20%;
    min-height: 87.5vh;
    background-color: F9D5A7;
}

.sidebar-item-profile{
    width: 90%;
    height: auto;
    display: flex;
    margin: auto;
    text-align: center;
    padding: 3%;
    border-bottom: 2px solid black;
}

.sidebar-item-container{
    width: 100%;
    height: auto;
    display: block;
    text-decoration: none;
    color: black;
    border: none;
}

.sidebar-item-container:hover{
    background-color: #555;
    color: white;
}

.sidebar-item{
    width: 70%;
    height: auto;
    display: flex;
    margin: auto;
    text-align: center;
    padding: 1%;
    
}

#sidebar-item-icon{
    width: 2vw;
    height: 4vh;
    display: flex;
    margin-right: 5%;
    margin-top: 4%;
}

#sidebar-image-profile{
    width: 10vh;
    height: 5vw;
    margin-right: 15%;
    border: solid 2px black;
    border-radius: 10%;
    background-color: white;
}

#sidebar-image{
    width: 100%;
    height: 100%;
    margin-top: 10%;
    
    
}

#sidebar-image-container{
    width: 30%;
    height: 20%;
    display: flex;
    margin: auto;
    margin-right: 65%;
    
}

.sidebar-item-text{

}

/**************************************************************SideBar*****************************/

/*****************Collapse SideBar**************/
    .collapsible {
        
    }

    .active, .collapsible:hover {
    
    }

    .collapse-item {
    height: auto;
    display: none;
    
    color: black;
    }

    /***#555**/

    .collapse-item-container:hover {
        background-color: #555;
        color: white;
        }

    .selected{
        background-color: FFB085;
        border: 1px solid black;
        
    }


    .collapse-item-2 {
        width: 50%;
        height: auto;
        display: flex;
        margin: auto;
        text-align: center;
        padding: none;
        }

    .collapse-item-container{
    width: 100%;
    height: auto;
    display: flex;
    text-decoration: none;
    color: black;
    border: none;
    }

    #collapse-item-icon{
    width: 2vw;
    height: 4vh;
    display: flex;
    margin-right: 5%;
    margin-top: 10%;
}


/**********************Collapse Sidebar********************/

/************************Content****************************/
#content-card{
    width: 80%;
    height: auto;
    background-color: FEF1E6;
    
}

.daftarTarget{
    margin-top: 2%;
    margin-left: 4%;
    width: 100%;
    font-size: 36px;
}

#table{
    width: 95%;
    max-height: 80%;
    margin: auto;
    border: solid;
    text-align: center;
    
    margin-top: 2%;
}

th{
    background-color: FFB085;
    padding: 1%;
    color:  white;
}

td{
    background-color: white;
    border-bottom: 1px solid black;
    margin: 0px;
    padding: 1em;
    padding-top: 2%;
    padding-bottom: 2%;
    
}

.table-target{
    max-width: 10%;
    overflow: hidden;
    text-align: center;
}

.aksi-col{
    width: auto;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    text-align: center;
}

.isi-aksi{
    width: 70%;
    height: auto;
    
}

.aksi-col a{
    text-decoration: none;
}

#button-tambah{
    width: 20%;
    height: auto;
    text-decoration: none;
    
}

#button-tambah-img{
    width: 1.5em;
    height: 1.5em;
    margin-right: 0.5em;
}

#button-tambah-container{
    width: 10%;
    height: auto;
    margin-left: 2.5% ;
    margin-top: 2%;
    margin-bottom: 3%;
    display: flex;
    color:black;
    background-color: F9D5A7;
    padding: 1%;
    border: solid;
    border-radius: 5%;
}

/*************************\Content\***************************/

#footer{
    width: 100%;
      height: 10%;
      
      line-height: 50px;
      background: #333;
      color: #fff;
      position: absolute;
      
      margin: auto;
      }